html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

h1 {
	margin-bottom: 4px;
}

h2 {
	margin-bottom: 4px;
	margin-top: 30px;
}

.active {
	opacity: 1.0 !important;
}

.button {
	background: url(../img/button_background.png);
	border: 1px grey solid;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 1px;
	min-width: 16px;
	padding: 5px 8px;
	position: relative;
	text-align: center;
	z-index: 5;
}

.button img {
	margin-right: 6px;
	pointer-events: none;
	vertical-align: sub;
}

.buttonList {
	padding: 0;
}

.logoB, .logoR, .logoA, .logoI, .logoN, .logo4, .logoD {
	text-shadow: 0px 0px 2px #000;
}

.logoB, .logoR, .logoA, .logoI, .logoN {
	font-style: italic;
}

.logoB:before, .logoD:after {
	color: #222;
	content: "-";
	margin: 0px 8px;
}

.logoB {
	color: rgba(255, 127, 127, 0.5);
	text-shadow: 4px 0px 0px #222;
}

.logoR {
	color: rgba(63, 63, 255, 0.35);
	margin-right: -7px;
}

.logoA {
	color: rgba(63, 63, 255, 0.35);
}

.logoI {
	color: rgba(255, 63, 63, 0.35);
	position: absolute;
}

.logoN {
	color: rgba(255, 63, 63, 0.35);
	position: relative;
	z-index: 2;
}

.logo4 {
	color: rgba(255, 255, 255, 0.8);
	margin-right: -10px;
}

.logoD {
	color: rgba(255, 255, 255, 0.8);
}

.slogan {
	color: #444;
	font-style: italic;
	margin-top: 0;
}

.slogan:before {
	content: "(";
}

.slogan:after {
	content: ")";
}

.switcher {
	opacity: 0.5;
}

#clear {
	clear: both;
}

#container {
	height: 100%;
	width: 100%;
}

#controls {
	margin-left: 4px;
}

#crosshair {
	background: url(../img/crosshair.png);
	height: 20px;
	left: calc(50% - 10px);
	pointer-events: none;
	position: absolute;
	top: calc(50% - 10px);
	width: 20px;
}

#glcanvas {
	height: 100%;
	width: 100%;
}

#legal {
	bottom: 0;
	color: #444;
	font-size: 80%;
	margin: 4px 6px;
	position: absolute;
	right: 0;
	text-align: right;
}

#legal a {
	color: #444;
	font-weight: bold;
	text-decoration: none;
}

#legal p {
	margin: 0;
}

#main {
	float: left;
	height: 100%;
	position: relative;
	width: calc(100% - 300px);
}

#sidebar {
	background: black;
	color: grey;
	float: left;
	height: 100%;
	width: 300px;
}

