html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#clear {
	clear: both;
}

#container {
	height: 100%;
	width: 100%;
}

#glcanvas {
	height: 100%;
	width: 100%;
}

#main {
	float: left;
	height: 100%;
	width: calc(100% - 300px);
}

#sidebar {
	background: black;
	color: grey;
	float: left;
	height: 100%;
	width: 300px;
}

